<main class="content">
	<!-- Logo -->
	<div class="logo-cont">
		<div class="logo"><!--Logo--></div>
		<div class="logo-group">
			<h4 class="small-font">Nick Francisci</h4>
			<h4 class="small-font light-color">Engineer</h4>
		</div>
	</div>

	<!-- Tagline -->
	<div id="tagline-cont">
		<div id="tagline">
			<h1 class="tagline-header">I Engineer Products To Build Healthier Lives</h1>
		</div>
	</div>

	<ul>
		<li id="left-column" class="column">
			<div id="project-feed">
				<!-- Athena -->
				<!-- Brightbox -->
				<!-- Grove Labs -->


		<li id="content-column" class="column">
			<div id="portfolio-filters">
				<!-- Athena Article -->
				{{{md 'src/content/athena.md'}}}

				<!-- Grove Labs Article -->
				{{{md 'src/content/grovelabs.md'}}}

			</div>

		</li>
	</ul>
</main>